/* VD Color:    #225D38 */
/* VD Font      Roboto Slab // Bold */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
body
{
    background: #7c9485;
    height: 1000px;
}
.wrapper
{
    position: relative;
    transition: 0.5s;
    left: 0;
}
.wrapper.active
{
    left: -400px;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    transition: 0.5s;
}
header.sticky
{
    padding: 20px 100px;
    background: #7c9485;
}
header .logo
{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
header .toggle
{
    position: relative;
    width: 36px;
    height: 28px;
    background: url(../IMG/toggle.png);
    background-size: cover;
    cursor: pointer;
}
header .toggle.active
{
    background: url(../IMG/close.png);
    background-size: cover;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b6e4c7;
}
.banner img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.50;
}
.banner .content
{
    position: relative;
    max-width: 750px;
    text-align: center;
}
.banner .content h2
{
    font-size: 48px;
    color: #225D38;
}
.banner .content p
{
    font-size: 23px;
    color: #225D38;
}
.sidebar
{
    position: fixed;
    right: -400px;
    top: 0;
    width: 400px;
    height: 100%;
    background: #7c9485;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 0.5s;
}
.sidebar.active
{
    right: 0;
}
.sidebar ul
{
    position: relative;
    display: flex;
    flex-direction: column;
}
.sidebar ul li
{
    list-style: none;
    margin: 5px 0;
}
.sidebar ul li a
{
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
}
.sidebar ul li a:hover
{
    color: #225D38;
}